<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asusfx.rokuba">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" />

        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPilihan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".menu_classic"
            android:label="@string/menuroticlassic"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".menu_modern"
            android:label="@string/menurotimodern"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".menu_asin"
            android:label="@string/menurotiasin"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".menu_premium"
            android:label="@string/menurotipremium"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" />

        <activity android:name=".menu_pesanan_anda"
            android:label="@string/pesanananda2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange" ></activity>
    </application>
</manifest>